[heater_bed]
heater_pin: PA7
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
control: pid
pid_Kp: 68.385
pid_Ki: 1.093
pid_Kd: 1069.370
min_temp: 0
#max_temp: 130
max_temp: 110

[bed_screws]
screw1: 20, 29
screw2: 195, 29
screw3: 195, 198
screw4: 20, 198